.app {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	& .app-canvas {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #66BBCC;
	}

	& .ui {
		/* Base size for all UI elements */
		font-size: 15px;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
